<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="DnsMasqWeb - Desgin By Xiaok">
		<meta name="author" content="Xiaok">
		<title>{{ _('Records management') }} - DnsMasqWeb - Desgin By Xiaok</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/xk_static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/xk_static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/xk_static/css/xk_dnsmasqweb.css" rel="stylesheet">
        <script src="/xk_static/js/jquery-1.8.3.min.js"></script>
		<script src="/xk_static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/xk_static/js/xk_dnsmasqweb.js"></script>
	</head>
	<body>
		<div class="container">
			{% include "xk_top_nav.html" %}
			<div class="row">
				{% include "xk_nav.html" %}
				<div class="span10">
					<h4>
						{{ _('Records management') }}
					</h4>
                    <div class="pull-right">
                    <select name="domain" id="domain" onchange="get_record()">
                        <option value="0">-- {{ _('Please choose a Domain Name') }} --</option>
                        {% for d in domains %}
                        <option value="{{d['id']}}">{{d['domain']}}</option>
                        {% endfor %}
                    </select> 
                    {% if did > 0 %}
                    <input type="button" class="btn btn-danger" value="{{ _('Batch Delete') }}" onclick="">
                    <input type="button" class="btn btn-warning" value="{{ _('Synchronize') }}" onclick="rsync_dns('no');">
                    <input type="button" class="btn btn-primary" value="{{ _('Add record') }}" onclick="show_add();">
                    {% endif %}
                    </div>
					<table class="table table-bordered table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th><input type="checkbox" id="checkbox_all"> #</th>
                                <th>{{ _('Host Record') }}</th>
                                <th>{{ _('Record Type') }}</th>
                                <th>{{ _('Record Values') }}</th>
                                <th>{{ _('MX Priority') }}</th>
                                <th>{{ _('Created') }}</th>
                                <th>{{ _('Updated') }}</th>
                                <th>{{ _('Remark') }}</th>
                                <th>{{ _('Operation') }}</th>
							</tr>
						</thead>
						<tbody>
                            <tr id="add_line" class="display_no">
								<td></td>
                                <td><input type="text" name="record" id="record"  class="input-small"></td>
                                <td>
                                    <select style="width: 88px;" name="type" id="type">
                                        <option value="A">A</option>
                                        <option value="CNAME">CNAME</option>
                                        <option value="MX">MX</option>
                                        <option value="TXT">TXT</option>
                                        <option value="NS">NS</option>
                                        <option value="AAAA">AAAA</option>
                                        <option value="SRV">SRV</option>
                                    </select>
                                </td>
                                <td><input type="text" name="value" id="value"  class="input-small"></td>
                                <td><input type="text" name="priority" id="priority" style="width: 28px;"></td>
                                <td>{{get_time()}}</td>
                                <td>{{get_time()}}</td>
                                <td><input type="text" name="comment" id="comment"  class="input-small"></td>
								<td>
                                    <a href="#" class="view-link" onclick="add_record();">{{ _('Save') }}</a> |
                                    <a href="#" class="view-link" onclick="cancel_add()">{{ _('Cancel') }}</a>
                                </td>
							</tr>
                            {% for r in records %}
                            {% if r['status'] == 'yes' %}
							<tr id="line_{{r['id']}}">
                            {% set st_msg = "{{ _('time out') }}" %}
                            {% set fun_value = "no" %}
                            {% else %}
                            <tr id="line_{{r['id']}}" class="error">
                            {% set st_msg = "{{ _('open') }}" %}
                            {% set fun_value = "yes" %}
                            {% endif %}
								<td><input type="checkbox"> {{loop.index}}</td>
                                <td title="{{r['record']}}.{{cur_domain['domain']}}">{{r['record']}}</td>
                                <td>{{r['type']}}</td>
                                <td>{{r['value']}}</td>
                                <td>{{r['priority'] or ''}}</td>
                                <td>{{r['create_time']}}</td>
                                <td>{{r['up_time']}}</td>
                                <td>{{r['comment']}}</td>
								<td>
                                    <a href="javascript:void(0);" onclick="to_edit({{r['id']}})">{{ _('Edit') }}</a> |
                                    <a href="/public/api?module=record&fun=ch_status&id={{r['id']}}&value={{fun_value}}&did={{did}}" onclick="return confirm('{{ _('Confirm') }}{{st_msg}}{{ _('this record?') }}');">{{st_msg}}</a> |
                                    <a href="/public/api?module=record&fun=del&id={{r['id']}}&did={{did}}" onclick="return confirm('{{ _('Really delete this record?') }}');">{{ _('Delete') }}</a>
                                </td>
							</tr>
                            {# {{ _('Editable') }} #}
                            <tr id="edit_line_{{r['id']}}" class="display_no">
                                <td><input type="checkbox"> {{loop.index}}</td>
                                <td><input type="text" class="input-small" value="{{r['record']}}" name="record_{{r['id']}}" id="record_{{r['id']}}"></td>
                                <td>
                                    <select style="width: 88px;" name="type_{{r['id']}}" id="type_{{r['id']}}" >
                                        <option value="A">A</option>
                                        <option value="CNAME">CNAME</option>
                                        <option value="MX">MX</option>
                                        <option value="TXT">TXT</option>
                                        <option value="NS">NS</option>
                                        <option value="AAAA">AAAA</option>
                                        <option value="SRV">SRV</option>
                                    </select>
                                    <script type="text/javascript">$("#type_{{r['id']}}").val("{{r['type']}}");</script>
                                </td>
                                <td><input type="text" class="input-small" value="{{r['value']}}" name="value_{{r['id']}}" id="value_{{r['id']}}"></td>
                                <td><input type="text" class="input-mini" value="{{r['priority'] or ''}}" style="width: 28px;" name="priority_{{r['id']}}" id="priority_{{r['id']}}"></td>
                                <td>{{r['create_time']}}</td>
                                <td>{{r['up_time']}}</td>
                                <td><input type="text" class="input-small" value="{{r['comment'] or ''}}" name="comment_{{r['id']}}" id="comment_{{r['id']}}"></td>
                                <td>
                                    <a href="javascript:void(0);" onclick="save_info({{r['id']}});">{{ _('Save') }}</a> |
                                    <a href="javascript:void(0);" onclick="to_line({{r['id']}})">{{ _('Cancel') }}</a>
                                </td>
                            </tr>
                            {% endfor %}
						</tbody>
					</table>
					<ul class="pager">
						<li class="next">
							<a href="more">{{ _('More') }} &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
        <script type="text/javascript">
            function add_record() {
                did = $("#domain").val();
                record = $("#record").val();
                type = $("#type").val();
                value = $("#value").val();
                priority = $("#priority").val();
                comment = $("#comment").val();
                if ( record == '') {
                    alert("{{ _('Please enter records!') }}");
                    $("#record").focus();
                    return false;
                };
                if ( value == '') {
                    alert("{{ _('Please enter Record Values!') }}");
                    $("#value").focus();
                    return false;
                };
                if ( type == 'MX' && priority == '' ) {
                    alert("{{ _('Please enter MX priority!') }}");
                    $("#priority").focus();
                    return false;
                };
                $.ajax({
                    type: "POST",
                    url: "/dns/record",
                    data: { 'record':record, 'type':type, 'value':value, 'comment':comment, 'did':did, 'priority':priority },
                    dataType: "text",
                    success: function(msg){
                        if (msg == "1") {
                            alert("{{ _('Added successfully') }}!");
                            window.location.href="/dns/record?did="+did;
                        } else if (msg == "2") {
                            alert("{{ _('Record already exists!') }}");
                            $("#record").focus();
                        } else {
                            alert("{{ _('Alert') }}:{{ _('Failed to add record') }}!");
                        }
                        },
                    error:function(){
                        alert("{{ _('Note: Internal Server Error') }}!");
                        },
                    });
            };
            function show_add(){
                $("#add_line").removeClass("display_no");
                $("#record").focus();
            };
            function cancel_add(){
                $("#add_line").addClass("display_no");
            };
            function get_record(){
                did = $("#domain").val();
                location.href="/dns/record?did="+did;
            };
            function rsync_dns(force){
                did = $("#domain").val();
                $.ajax({
                    type: "GET",
                    url: "/public/api",
                    data: { "module":"dnsmasq", "fun":"update", "id":did, "force":force },
                    dataType: "text",
                    success: function(msg){
                        if (msg == "0") {
                            alert("{{ _('Synchronization successful') }}!");
                            return true;
                        } else if (msg == "1") {
                            alert("{{ _('DNSmasq failed to restart') }}!");
                            return false;
                        } else if (msg == "2") {
                            if (confirm("{{ _('Domain name MD5 checksum failure, proceed anyway') }}?")) {
                                rsync_dns("yes");
                            } else {
                                return false;
                            };
                        } else {
                            alert("{{ _('Alert') }}:{{ _('Synchronization failed to parse') }}!");
                        }
                        },
                    error:function(){
                        alert("{{ _('Note: Internal Server Error') }}!");
                        },
                    });
            };
            $("#domain").val({{did}});
            function to_edit(id){
                show_id = "#line_" + id;
                edit_id = "#edit_line_" + id;
                $(show_id).addClass("display_no");
                $(edit_id).removeClass("display_no");
            };
            function to_line(id){
                show_id = "#line_" + id;
                edit_id = "#edit_line_" + id;
                $(show_id).removeClass("display_no");
                $(edit_id).addClass("display_no");
            };
            /* {{ _('Edit saved records') }} */
            function save_info(id){
                did = $("#domain").val();
                record = $("#record_"+id).val();
                type = $("#type_"+id).val();
                value= $("#value_"+id).val();
                priority = $("#priority_"+id).val();
                comment = $("#comment_"+id).val();
                $.ajax({
                    type: "POST",
                    url: "/dns/record",
                    data: { "id":id, "did":did, "record":record, "value":value, "type":type, "priority":priority, "comment":comment, "fun":"edit" },
                    dataType: "text",
                    success: function(msg){
                        if (msg == "1") {
                            alert("{{ _('Successfully modified') }}!");
                            location.href="/dns/record?did="+did;
                        } else {
                            alert("{{ _('Alert') }}:{{ _('Failed to edit') }}!");
                            return false;
                        }
                        },
                    error:function(){
                        alert("{{ _('Note: Internal Server Error') }}!");
                        return false;
                        },
                    });
            };
        </script>
        {% include "xk_footer.html" %}
	</body>
</html>
